body {
	min-width: 500px;
}

div, table {
	display: inline-block;
	border: 10px solid black;
}


p {
	display: inline;
	margin: 0px;
	padding: 0px;
}

div p {
	color: white;
}

div {
	padding: 20px;
	margin: 20px;
	background-color: gray;
}


#tabla1 {
	background-color: green;
}

#tabla2 {

}

.tabla {
	
}

#tr1 {
	background-color: red;
}
#tr2 {
	background-color: blue;
}

#td1 {
	background-color: yellow;
}

div h1 {
	color: red;
}

div p b {
	color: red;
}

@media all and (max-width: 440px) and (max-height: 300px) {

	body{

		background-color: red;
	}

}

